/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';


html, body {
  height: 100%;
  margin: 0;
  background-color: #F2E0C9;
}

/* Paleta colores
#592C38
#F2E0C9
#D9B391
#BF7B6B
#A65656
*/